body {
    background-color: rgb(245, 245, 245);
    color: #000000;
    margin: 0px;
}

h1, #Contact{
    background-color: rgb(66, 66, 66);
    color:#c8f2ff;
    padding: 0px 20px;
        
}

h1, #Presentation {
    text-align: center;
}

a {
    color: rgb(136, 136, 248);
}
