body {
    background-image: url('images/walpaper2edited.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #000000;
    margin: 0px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    display:block;
    color: #ffffff;
}



.MenuBTN {
    border: rgb(32, 32, 32);
    color: rgb(112, 61, 253);
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #dbdbdb
    
  }

button {
    border-radius: 25px;
    padding: 5px;
}

#Contact {
 li {
    padding: 1px;
}
}

h1, #Contact{
    background-color: rgb(32, 32, 32);
    color:#ffffff;
}

h5, #GitList, #Contact {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    
}


h1, #Presentation {
    text-align: center;
    margin-top: 0px;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h4 { 
    font-family: Verdana, Tahoma, sans-serif
}

h5 {
    text-align: right;
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);

    a{
        color: rgb(112, 61, 253);
    }

}

a {
    color: rgb(61, 176, 253);
    font-family:Verdana, Tahoma, sans-serif;
    text-decoration: none;
}


li {
    padding: 10px;
    font-family:Verdana, Tahoma, sans-serif;
}

/* Thumbnails and links Settings  */



.thumbnail:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 2px solid rgb(255, 0, 0);
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
}

.link:hover {
    position:relative;
    font-size: 150%;
}

.link:active {
    color: red;
}

#Contact {
display: block;
margin: 0;
overflow: hidden;
bottom: 0; /* Position the navbar at the top of the page */
h4{
    padding-left: 1;
    display: block;
    line-height: 0;
}

a  {
        color: rgb(61, 176, 253);
    }
}

/* Menu Settings  */

#Menu {
    text-align: center;
    padding: 5px;
    background-color: rgb(32, 32, 32);
    margin-bottom: 0px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  body {
    padding-top: 50px;
  }

  #Portfolio3d{
    text-align: center;
    
    list-style-position: inside;

    ul {
        padding: 10px;
    }
    li{
        padding: 10px;
    }
  }


/*Index Only vvvvvv*/
#Content{
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 0px;
    text-align: center;
  }

  #DContent{
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 0px;
    text-align: center;

  }
  
  #Index{
    margin:0px; 
    background-color: rgb(0, 0, 0);
  }
  
  header {
    height: auto; overflow: hidden;
    }
  
    #background{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: #000;
    }
  /*Index Only ^^^^*/