body {
    background-color: rgb(245, 245, 245);
    color: #0c0c0c;
    margin: 0px;
    font-size: large;
}

#Contact {
 li {
    padding: 1px;
}
}

h1, #Contact{
    background-color: rgb(66, 66, 66);
    color:#c8f2ff;
}

h5, #GitList, #Contact {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

h1, #Presentation {
    text-align: center;
    margin-top: 0px;
}


h5 {
    text-align: right;
    font-size: medium;
}

a {
    color: rgb(136, 136, 248);
}


li {
    padding: 10px;
}

/* Thumbnails and links Settings  */

.thumbnail:hover {
    position:relative;
    width:350px;
    height:350px;
    display:block;
    z-index:999;
}

.thumbnail:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 2px solid rgb(255, 0, 0);
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
}

.link:hover {
    position:relative;
    font-size: 150%;
}

.link:active {
    color: red;
}

/* Menu Settings  */

#Menu {
    text-align: center;
    padding: 10px;
    background-color: rgb(206, 237, 255);
    margin-bottom: 0px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }

